[Desktop Entry]
Name=dwm
Comment=Log in using the Dynamic Window Manager
Exec=/usr/local/bin/dwm
TryExec=/usr/local/bin/dwm
Icon=dwm.png
Type=Application